@model List<HospitalProject.Models.Job>
@{
    ViewBag.Title = "ListJobsAdmin";
}

    <section class="jobMain">
        <div class="d-flex justify-content-between">
            <h2>Jobs List</h2>
            <div>
                <a href="/Application/ListApplicationsAdmin" style="text-decoration:none" class="btn btn-primary">Applications Management</a>
            </div>
        </div>

        @*Below code will create a search box with a button which will be used to search for Jobs*@
        <form action="/Job/ListJobsAdmin" method="get">
            <input type="text" id="searchKey" name="searchKey" />
            <button class="btn btn-primary">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        </form>

        @*Below code will create a pagniation which will separate the records into discrete pages*@
        <div>
            @{
                <a href="/Job/ListJobsAdmin?pagenum=@((int)ViewData["pageNum"]-1)&petsearchkey=@ViewData["searchKey"]">Prev</a>
                @ViewData["pageSummary"]
                <a href="/Job/ListJobsAdmin?pagenum=@((int)ViewData["pageNum"]+1)&petsearchkey=@ViewData["searchKey"]">Next</a>
            }
        </div>

        @*Code to display the list of jobs inthe List Jobs Admin page*@
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th width="15%">Title</th>
                <th width="5%">Skill</th>
                <th width="25%">Description</th>
                <th width="10%">Type</th>
                <th width="5%">Salary</th>
                <th width="30%" colspan="3">Action</th>
            </tr>
            @{
                foreach (var job in Model)
                {
                    <tr>
                        <td><a href="/Job/ShowJobAdmin/@job.jobId">@job.name</a></td>
                        <td>@job.skill</td>
                        <td>@job.description</td>
                        <td>@job.type</td>
                        <td>@job.salary</td>
                        <td>
                            @*Link styled as buttons to View, Apply, Update and Delete a job*@
                            <a href="/Job/ShowJobAdmin/@job.jobId" class="btn btn-info">View</a>
                            <a href="/Job/ApplyJobAdmin/@job.jobId" class="btn btn-primary">Apply</a>
                            <a href="/Job/UpdateJobAdmin/@job.jobId" class="btn btn-warning">Update</a>
                            <a href="/Job/DeleteJobAdmin/@job.jobId" class="btn btn-danger" onclick="return validate();">Delete</a>
                        </td>
                    </tr>
                }
            }
        </table>

        @*Link to create a new Job post. Link will appear like a button due to bootstrap styling*@
        <div>
            <a class="btn btn-primary" href="/Job/AddJobAdmin/" id="createBtn">Add Job </a>
        </div>
    </section>